# Visual Studio files
.vs/
*.user
*.suo

# Build output
bin/
obj/
Debug/
Release/

# Logs
*.log

# Dependency folders
node_modules/
packages/

# Environment and config files
.env
appsettings.Development.json

# OS-specific files
Thumbs.db
.DS_Store

# Tailwind output (if generated automatically)
wwwroot/css/tailwind.css.map
Interface/appsettings.json
